<div class = "pati-main">
    <div class = "pati-up"></div>
    <div class = "pati-down">
      <p>パチスロに関するクイズ</p>
      <br>
      <div class = "haba">
      <%= link_to "初級", patisuros_path, class: "question-button"%>
      <%= link_to "中級", new_patisuro_path, class: "question-button"%>
      <%= link_to "上級", patisuro_path, class: "question-button"%>
      </div>
    </div>
  </div>  