  <div class = "p-main">
    <div class = "p-up"></div>
    <div class = "p-down">
      <p>ポケモンに関するクイズ</p>
      <br>
      <div class = "haba">
      <%= link_to "初級", pokemons_path, class: "question-button"%>
      <%= link_to "中級", new_pokemon_path, class: "question-button"%>
      <%= link_to "上級", pokemon_path, class: "question-button"%>
      </div>
    </div>
  </div>