<div class = "r-main">
    <div class = "r-up"></div>
    <div class = "r-down">
      <p>リゼロに関するクイズ</p>
      <br> 
      <div class = "haba">
      <%= link_to "初級", root_path, class: "question-button"%>
      <%= link_to "中級", root_path, class: "question-button"%>
      <%= link_to "上級", root_path, class: "question-button"%>
      </div>
      </ul>
    </div>
  </div>