<div class="">
  <div class="side"></div>

  <div class="center">
    <div class="title">ポケモンクイズ初級編</div>
    <div class="explain">誰でもわかるポケモンクイズ</br>ポケモン好きならできて当然</br>頑張っていきましょー</div>
    <div class="quize_1" id="q_1"></div>
    <div class="quize_2" id="q_2"></div>
    <div class="quize_3" id="q_2"></div>
  </div>

  <div class="side"></div>

</div>
